@page "/personas/crear"
@inject IRepository Repository
@inject NavigationManager NavigationManager
@inject IShowMessages ShowMessages
@attribute [Authorize(Roles = "admin")]

<h3>Crear Persona</h3>

<PersonForm Person="_person" OnValidSubmit="Create" />

@code {

    private Person _person = new Person();

    private async Task Create()
    {
        var httpResponse = await Repository.Post("api/personas", _person);
        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await ShowMessages.ShowErrorMessage(body);
        }
        else
        {
            NavigationManager.NavigateTo("/personas");
        }
    }

}
