@page "/"
@inject IRepository Repository

<h1>¡Bienvenido a GdFilms!</h1>

<div>
    <h3>En Cartelera</h3>
    <FilmCatalog Films="_filmsOnBillboard" />
</div>

<div>
    <h3>Próximos Estrenos</h3>
    <FilmCatalog Films="_upcomingReleases" />
</div>

@code{

    private List<Film> _filmsOnBillboard;
    private List<Film> _upcomingReleases;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await Repository.Get<HomePageDTO>("api/peliculas");
        _filmsOnBillboard = httpResponse.Response.FilmsOnBillboard;
        _upcomingReleases = httpResponse.Response.UpcomingReleases;
    }

}