<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GdFilms</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            Inicio
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="peliculas/buscar">
                            Directorio Peliculas
                        </NavLink>
                    </li>
                    <AuthorizeView Roles="admin">
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="peliculas/crear">
                                    Crear película
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="generos">
                                    Géneros
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="personas">
                                    Personas
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="usuarios">
                                    Usuarios
                                </NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
            </div>
            <div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link">
                                    Hola, @context.User.Identity.Name!
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="salir">
                                    Salir
                                </NavLink>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="ingreso">
                                    Ingreso
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="registro">
                                    Registro
                                </NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>
    </div>
</nav>

@code {

}
